*{
	margin: 0;
	padding: 0;
}

.container{
	background-color:grey;
}

.content-head{
	/*width: 1525px; */
	width: 1020px;
	overflow: hidden;
	margin: 0 auto;
}

.header{
	background-image: url(logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 148px;
}

.search-bar{
	padding-top: 40px;
	float: right;
	padding-right: 50px;
}

input{
	width: 195px;
	height: 28px;
	border-radius: 5px;
	border-style: none;
}

.search-bar button{
	background-color: orange;
	border-radius: 5px;
	height: 29px;
	width: 63px;
	font-size: 13px;
	color: #fff;
	border-style: none;

}

.menu ul{
	padding-top: 110px;
	padding-left: 335px;
}

.menu li{
	display: inline-block;
	float: left;
/*	padding-right:50px;*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 15px;
}

.home{
	padding-left: 1px;
}

.company{
	margin-left: 45px;
}

.products{
	margin-left: 50px;
}

.service{
	margin-left: 50px;
}

.contact{
	margin-left: 55px;
}

.client{
	margin-left: 50px;
}


.banner,
.info{
	width: 1020px;
	margin:0 auto;
}


.info{
	background-color: #fff; 
}

.info h1{
	color:#cd0000;
	font-size: 25px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 35px;
	padding-bottom: 5px;
	margin-left:50px;
	margin-right: 50px;
	border-bottom:1px dotted #000;
	font-weight: lighter;
}

.paragraph{
	padding-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Source Sans Pro', sans-serif;
	color:#787878;
	font-size: 13px;
	line-height: 25px;
}

.widgets{
	margin-top:10px;
}

.widgett{
	display: inline-block;
	margin-left: 33px;
	border-top: 3px solid #ffa500;
	background-color:#ffa500;
	vertical-align: top; 
}

.widgett:first-child{
	margin-left: 50px;
}

.widgett h2{
	font-size: 15px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.para{
	font-size: 12px;
	padding-top: 12px;
	/*padding-left: 11px;*/
	background-color: #fff;
	line-height: 20px;
	color:#787878;
	font-family: 'Source Sans Pro', sans-serif;

}

.profile{
	padding-left: 50PX;
	padding-top: 15px;
	padding-bottom: 20px;

}

.footer{
	background-color: #cd0000;
	width: 1020px;
	height: 50px;
	margin:0 auto;
}

.site-map{
	margin-left: 50px;
	padding-top: 20px;
	float: middle;
}

.site-map li{
	color:#fff;
	font-size: 13px;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .5px;
}

.site-map .hom{
	margin-left: 300px;
}

.site-map .com,
.site-map .pro,
.site-map .ser,
.site-map .con{
	margin-left:20px; 
}










